html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom,rgb(255, 171, 64), tan); 

}
*, *:before, *:after {
    box-sizing: border-box;
}
header {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main > button {
    color: #c40d0d;
    margin: 5px;
    background-color: #ebf0ff;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 2em;
    height:4em;
    width: 17em;
}
.score {
    display: flex;
    justify-content: space-between;
}
.wins {
    margin-left: 4px;
}
.losses {
    margin-right: 4px;
}
.title {
    font-size: 2.5em;
}
.moves {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}